:root {
    --primary-color: #888;
    --secondary-color: #fff;
}

body{
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.container {
    margin-top: 100px;
    margin-left: 550px;
    border-radius: 12px;
    padding-bottom: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 1);
    background: linear-gradient(5deg, var(--primary-color), var(--secondary-color));
}